
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-fon-color: #ffffff;
  --address-text-color: #757575;
  --link-text-color:#212121;
  --border-color:#F5F4FA;
  --card-border:#EEEEEE;
  --social-link: #AFB1B8;
  --social-link-accent: #FFFFFF;
  --social-item-accent: #2196f3;

}

/* .visually-hidden
{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
} */

/*Стили текста*/

.style-header{
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02rem;
}

.text-style{
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03rrem;
  text-transform: uppercase;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-fon-color);

  font-family:Roboto; sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03rem;
}

.container{
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

button{
  border: none;
  outline: none;
}

/* logo */



.logo {
  color: #000000;
  font-family:Raleway;
  font-style:normal;
  font-weight:bold;
  font-size: 26px;
  line-height: 2;
}

.logo-text {
  color: var(--accent-color);

}

/* Site header */

.header{
  display: flex;
  align-items: center;
  width: 1230px;
  margin-top:0px;
  margin-bottom: 0px;
 
}
  
.site-nav{
  display: flex;
  align-items: center;
 
 }

.site-nav .item:not(:last-child){
  margin-right: 50px;
}

.site-nav .item:first-child {
  margin-right: 85px;

}

.site-nav .link {
  display: block;
  padding-top:32px ;
  padding-bottom: 35px;

}

.link {
  position: relative;
  color: var(--link-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.link.curent::after{
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
 
}

.curent{
  color: var(--accent-color);
}

.link:hover,
.link:focus {
  
  color: var(--accent-color);
}

.contact{
  display: flex;
  margin-left: auto;
  
}

.nav-icon{
  margin-right: 10px;
  fill: var(--address-text-color);
  }

.us{
   margin-left: 30px;
   color: var(--address-text-color);
}

.nav-icon
{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.us span 
{
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.us:hover .nav-icon,
.us:focus .nav-icon
{
  fill: var(--accent-color);
}

.us:hover span,
.us:focus span
 {
  color: var(--accent-color); 
}


/* Said bar */

.container-img{
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;

  background-image: linear-gradient( rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8) ), url(../images/main/Header.jpg);


}

.container-img .container{
  padding: 200px 15px;
  text-align: center;
}

.container-img .title {
  
  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--primary-fon-color);
  
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
}

.button-bar {

  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  padding: 10px 31px;
  border-radius: 6px;
  cursor: pointer;
  
  color: var(--primary-fon-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06rem;
}

/* features */

.container-features{
  padding: 94px 0px;
}

.features-list{
  display: flex;
  
 }

 .features-list .item:not(:last-child) {
  margin-right: 30px;
}  

.features-list .item{
   width: 270px;  
}

.item-img{
  display: inline-flex;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: var(--border-color);
  }

.features-img{
  margin: auto;
}

.features-list .title{
  margin-top: 30px;
  margin-bottom: 0px;
}

.container-features p{
  margin-top: 10px;
  margin-bottom: 0px;
}

.features-list .title,
.subtitle,
.footer-text {
  color: var(--title-text-color);
}

/* specialization */

.section .container {
 padding: 94px 15px;
}


.section-title {
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03rem;

}

.specialization-list{
  display: flex;
  
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
  

.specialization-list .item{
  position: relative;
  margin-bottom: 30px;
    
}
 

.specialization-list .item:not(:last-child) {
  margin-right: 30px;
} 


.specialization-list .text {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top:0;
  margin-bottom:0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14;
  font-size: 14px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-fon-color);
  text-align: center;
  }

/* Our team */
.team {
 background-color: #f5f4fa;
}

.team-list{
  display: flex;
  justify-content: center;
}

.team-list .item{
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-fon-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}


.team-list .item:not(:last-child){
  margin-right: 30px; 
}

.team-list .title {
  color: var(--title-text-color);

  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03rem;

}

.team-list .text{

font-family: Roboto;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03rem;
}

.socials{
  display: flex;
  justify-content: center;
  padding: 0px 32px 24px;
  box-shadow: none;
}

.socials-item:not(:last-child){
  margin-right: 10px; 
}

.link-socials{
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  color: var(--social-link);
}

.socials-icon{
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  margin: auto;
  width: 20px;
  height: 20px;
  fill: currentColor;
}
  
.link-socials:hover ,
.link-socials:focus {
  background-color: var(--social-item-accent) ;
  color: var(--social-link-accent);
 }

/* Regular customers */

.section .cust-list{
  display: flex;
  justify-content: center;
} 

.cust-list .item{
width:170px;
height:90px;
cursor: pointer;

}

.cust-list .item:not(:last-child){
  margin-right: 30px; 
}

.cust-list div{
  display: inline-flex;
  width: 100%;
  height: 100%;
  border:1px solid #AFB1B8;
  border-radius: 4px; 
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
.regular-img {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  margin: auto;
  fill: currentColor;
}

.cust-list div:hover ,
.cust-list div:focus {
  border:1px solid var(--accent-color);
 }

.cust-list div:hover .regular-img,
.cust-list div:focus .regular-img {
 fill: var(--accent-color);
}


/* footer */

.footer {
  background-color: #2f303a;
  padding: 48px 0px 28px;
}

.container-footer{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  }

.logo-footer {
  color: #ffffff;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 2;
}

.footer-address {
  margin-top: 0px;

  color: #ffffff;
}
.footer-contact {
  font-style: inherit;

  color: rgba(255, 255, 255, 0.6);
}
.footer-contact a{
  display: block;
  margin-top: 9px;
  margin-left: 0px;
  padding: 0px;
}

.footer-link h3 {
  color: #ffffff;
}

.footer-link .item{
  display: flex;
}

.footer-links{
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links:not(:last-child){
  margin-right: 10px; 
}

.footer-links .link-socials{
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-links:hover *,
.footer-links:focus *{
  background-color: var(--accent-color);
}

.footer-text {
  color: #ffffff;
  margin-bottom: 0px;
}

.button-footer{
  
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  padding: 0px 28px 0px 29px;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
    
  color: var(--primary-fon-color);
  background-color: var(--accent-color);

  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06rem;

}

.button-footer:hover,
.button-footer:focus{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tellegram-icon{
  margin-left: 10px; 
  fill: currentColor;
}

/* */ 

/*portfolio-button*/

.container-nav{
  margin-top: 90px;
}

.list-nav{
  display:flex;
  justify-content: center;
  align-items: flex-start;
}

.item-button:not(:last-child) {
  margin-right: 8px;

}

.section-none{
  display: none;
}

.portfolio-button  {
  padding: 6px 22px;
  width: auto;
  height: 38px;
  color: var(--title-text-color);
  background-color: #f5f4fa;

  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03rem;
  border: 0px solid #000;
  border-radius: 4px;
  cursor: pointer; 
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-fon-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

/*portfolio*/
  
 .section-portfolio{
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 34px;
} 


.portfolio-list {
  display: flex;
  flex-wrap:wrap;
 
}

.portfolio-list .item{
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  }


.portfolio-list .item:nth-child(3n){
  margin-right: 0;

} 

.portfolio-list .item:nth-last-child(-n+3){
  margin-bottom: 0;
}

.portfolio-list .item:hover,
.portfolio-list .item:focus{
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
} 

.card-img{
  display: block;
  max-width: 100%;
  height: auto;
}

.card-content .title {
  margin-top: 0px;
  margin-bottom: 4px;

  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06rem;

  color: var(--title-text-color);
}

.card-content{
  padding-left: 24px;
  padding-right: 24px;
  padding-top:20px;
  padding-bottom:20px;
  
  
  border-left:1px solid var(--card-border);
  border-right:1px solid var(--card-border);
  border-bottom:1px solid var(--card-border);
  box-sizing: border-box;

 background: var( --primary-fon-color);
}

.card-content .caption{
  margin-top: 0px;
  margin-bottom:0px;

  font-family: Roboto;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03rem;

  color: var(--primary-text-color);
}
 .project-card {
  position: relative;
  overflow: hidden;

}
.content-overlay{
     position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-list .item:hover .content-overlay{
    transform: translateY(0);
    }

.content-overlay .text {
  display: block;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
       
  color: var(--primary-fon-color);
    
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03rem;
}




